body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    row-gap: 50px;
}

#mail {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#dice {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}